<header class="barra-navegacion">
  <div class="logo-seccion">
    <img src="img/logo.jpg" alt="Logo" width="80px" height="80px" class="Logo">
  </div>
  <nav class="enlaces">
    <a routerLink="/inicio" routerLinkActive="activo">Inicio</a>
    <a routerLink="/inventario" routerLinkActive="activo">Inventario</a>
    <a routerLink="/ventas" routerLinkActive="activo">Ventas</a>
    <a routerLink="/usuarios" routerLinkActive="activo">Usuarios</a>
  </nav>
  <div class="usuario-menu">
  <span class="username-display">{{ nombreUsuarioLogueado() }}</span>
  <button class="btn-flecha" (click)="toggleMenu()">▼</button>

  <div class="dropdown-menu" *ngIf="menuAbierto()">
      <button class="opcion-salir" (click)="cerrarSesion()">Cerrar Sesión</button>
    </div>
</div>
</header>

<div class="franja-titulo">
  <div class="info-izquierda">
    <h1>{{ tituloPagina }}</h1>
    <span>{{ subtituloPagina }}</span>
  </div>
</div>

<main class="escenario-gris">
  <div class="contenedor-centrado">
    <router-outlet></router-outlet>
  </div>
</main>