.grid-inicio {
    display: flex;
    flex-direction: column;
    gap: 25px;
    padding: 10px;
}

.fila-tarjetas {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
    margin-bottom: 30px;
    
}

.titulo-seccion {
    font-size: 30px;
}

.tarjeta-blanca-borde {
    background: white;
    padding: 20px;
    border-radius: 15px;
    border: 2px solid;
    border-color: #C8A2C8; 
    box-shadow: 4px 4px 10px rgba(0,0,0,0.05);
    border-bottom: 10px solid #5c5757;
}

.t-amarilla {
    color: #FBBF24;
     border-color: #FBBF24; 
     background-color: #FFFBEB; 
     border-bottom: 10px solid #5c5757;
    }

.fila-tarjetas2{
    display: flex;
    justify-content: center;
    gap: 20px;
    padding: 20px 0;
    width: 100%;
}    

.tarjeta-rosa {
    background-color: #ffffff;
    padding: 20px;
    margin-top: -40px;
    margin-bottom: 20px;
    border-radius: 20px;
    border: 1px solid;
    border-color: #5c5757;
    max-width: 180px;
    width: 100%;
    border-bottom: 10px solid #5c5757;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.tarjeta-rosa .tiempo-label{
    font-size: 20px;
    color: rgb(36, 170, 170);
}

.tarjeta-rosa .valor-rosa{
    font-size: 50px;
    text-align: center;
    color: rgb(6, 193, 6);
}

.tarjeta-blanca-borde .sub-detalle{
    color: rgb(148, 137, 137);
}

.titulo-metricas{
    color: rgb(139, 24, 139);
}
.titulo-metricas1{
    color: rgb(245, 39, 245);
}

.tiempo-label {
    display: flex;
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 10px;
}

.valor, .valor-rosa {
    font-size: 28px;
    font-weight: bold;
}

.contenedor-tabla-recientes {
    border: 1px solid #E5E7EB;
    overflow: hidden;
    background-color: white;
}

.scroll-area {
    max-height: 250px;
    overflow-y: auto;
}

table {
    text-align: center;
    width: 100%;
    border-collapse: collapse;
}

thead th {
    position: sticky;
    top: 0;
    background-color: #e2abc9;
    color: white;
    padding: 12px;
    text-align: center;
    z-index: 1;
}

tbody td {
    padding: 12px;
    border-bottom: 1px solid #F3F4F6;
    color: #4B5563;
}
