<div class="contenedor-ventas">
  
  <div class="columna-izquierda">
    <div class="tarjeta-blanca buscador-container">
      <h3 class="titulo-purpura">🔍 Buscar Producto</h3>
      <div class="caja-input">
        <span class="icono-lupa">🔎</span>
        <input 
          type="text" 
          placeholder="Escribe el nombre..." 
          [value]="terminoBusqueda()"
          (input)="terminoBusqueda.set($any($event.target).value)">
      </div>
    </div>

    <div class="tarjeta-blanca tabla-container">
      <table>
        <thead>
          <tr>
            <th>PRODUCTO</th>
            <th>PRECIO</th>
            <th>CANT.</th>
            <th>SUBTOTAL</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let p of productosFiltrados()" [class.seleccionado]="p.cantidad > 0">
            <td>{{ p.Nombre }}</td>
            <td><strong>${{ p.Precio | number:'1.2-2' }}</strong></td>
            
            <td class="celda-controles">
                <select class="selector-cantidad" [value]="p.cantidad" (change)="cambiarCantidad(p.Id_Producto, $event)"[disabled]="p.Stock === 0">
    
            <option *ngFor="let cant of generarOpcionesStock(p.Stock)" [value]="cant" [selected]="cant === p.cantidad">
             {{ cant }}
             </option>
          </select>
  
          <span class="badge-sin-stock" *ngIf="p.Stock === 0">Agotado</span>
           </td>
            
            <td class="texto-subtotal" [class.activo]="p.cantidad > 0">
              <strong>${{ (p.Precio * p.cantidad) | number:'1.2-2' }}</strong>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>

  <div class="columna-derecha">
    <div class="tarjeta-blanca ticket-container">
      
      <div class="fila-resumen">
        <span class="etiqueta-negra">Unidades:</span>
        <span class="valor-negro">{{ totalUnidades() }}</span>
      </div>
      
      <div class="fila-resumen mt-10">
        <span class="etiqueta-morada">TOTAL</span>
        <span class="valor-dorado">${{ totalVenta() | number:'1.2-2' }}</span>
      </div>

      <button class="btn-rosa-grande" [disabled]="totalUnidades() === 0 || cargando()"[style.opacity]="cargando() ? '0.6' : '1'"[style.cursor]="cargando() ? 'not-allowed' : 'pointer'"(click)="realizarVenta()">{{ cargando() ? 'PROCESANDO' : 'Realizar Venta' }}</button>
      <button class="btn-cancelar-claro" *ngIf="totalUnidades() > 0"(click)="cancelarVenta()" [disabled]="cargando()"[style.opacity]="cargando() ? '0.5' : '1'"[style.cursor]="cargando() ? 'not-allowed' : 'pointer'">X CANCELAR</button>
    </div>
  </div>

</div>
